.avatar-cont-body {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 30px;
}

.avatar-img {
    height: 152px !important;
    width: 152px !important;
    border-radius: 5px !important;
}

.cmpny-name-lbl{
    font-weight: 600 !important;
    color:#374151 !important;
}
.ph-email-cell{
    display: flex;
    align-items: center;
}

.ph-and-email-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:16px;
}